.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);/*(qtd de colunas, tamanho do button)*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;/*quantidade de linhas da calculadora, são 5 linhas de 48px*/
}